# Librerías de manipulación de datos y utilidades
numpy
pandas
joblib
gdown

# Librerías de visualización
matplotlib
seaborn
folium

# Librerías de geolocalización
geocoder

# Librerías de machine learning
scikit-learn

# Librerías para datos desbalanceados
imbalanced-learn

# Optimización de hiperparámetros
optuna

# AutoML
pycaret

# Deep Learning
tensorflow

# Explicabilidad de modelos
shap